<template id="choice-editor-template">
	<!-- Editor Controls for Multiple Choice, Radio Buttons, and More -->
	<p class="choice-editor-heading">Choices</p>
	<div class="choice-container">
		<label class="edit-control-label">
			<span>Choice</span>
			<input class="choice-editor" type="text">
		</label>
		<label class="edit-control-label">
			<span>Choice</span>
			<input class="choice-editor" type="text">
		</label>
	</div>
	<button class="add-option-button">Add More</button>
</template>
<template id="choice-option-template">
	<label class="edit-control-label">
		<span>Choice</span>
		<input class="choice-editor" type="text">
	</label>
</template>