<template id="choice-editor-template">
	<!-- Editor Controls for Multiple Choice, Radio Buttons, and More -->
	<p class="choice-editor-heading">Choices</p>
	<div class="choice-container"></div>
	<button class="add-option-button">Add More</button>
</template>
<template id="choice-option-template">
	<label class="edit-control-label">
		<input class="choice-editor" type="text" placeholder="Option Text">
	</label>
</template>