<template id="render-wrapper-template">
	<div class="render-wrapper">
		<div class="render-preview"><!-- Render data as an element here --></div>
		<div class="edit-controls-wrapper pseudo-label dimensionless">
			<div class="edit-controls">
				<button class="close-editor-button" type="button">✖</button>
				<label class="edit-control-label">
					<span>Label</span>
					<input class="label-editor" type="text">
				</label>
				<label class="edit-control-label">
					<span>Default Value</span>
					<input class="default-value-editor" type="text">
				</label>
				<label class="edit-control-label">
					<span>Placeholder</span>
					<input class="placeholder-editor" type="text">
				</label>
				<label class="edit-control-label">
					<span>Required</span>
					<input class="required-editor" type="checkbox">
				</label>
				<div class="additional-edit-controls"></div>
			</div>
		</div>
	</div>
</template>