<template id="render-wrapper-template">
	<div class="render-wrapper">
		<div class="render-preview"><!-- Render data as an element here --></div>
		<div class="edit-controls-wrapper pseudo-label dimensionless">
			<div class="edit-controls">
				<button class="close-editor-button" type="button">✖</button>
				<label>
					<span>Label</span>
					<input type="text" class="label-editor">
				</label>
				<label>
					<span>Default Value</span>
					<input type="text" class="default-value-editor">
				</label>
				<label>
					<span>Placeholder</span>
					<input type="text" class="placeholder-editor">
				</label>
				<label>
					<span>Required</span>
					<input type="checkbox" class="required-editor">
				</label>
				<div class="additional-edit-controls"></div>
			</div>
		</div>
	</div>
</template>