<template id="render-wrapper-template">
	<div class="render-wrapper">
		<div class="render-preview"><!-- Render data as an element here --></div>
		<div class="edit-controls-wrapper pseudo-label dimensionless">
			<div class="edit-controls">
				<button class="close-editor-button" type="button">✖ Close Editor</button>
				<div class="edit-controls-scroll">
					<label class="edit-control-label">
						<input class="default-value-editor" type="text">
						<span>Default Value</span>
					</label>
					<label class="edit-control-label">
						<input class="placeholder-editor" type="text">
						<span>Placeholder</span>
					</label>
					<button class="destroy-editor-button" type="button">Delete Section</button>
					<div class="additional-edit-controls"></div>
				</div>
			</div>
		</div>
	</div>
</template>