<label>
    <span class="label">
        <%= inputOptions.name %>
    </span>
    <input name="<%=inputOptions.name %>" type="text" value="<%= (typeof inputOptions.defaultValue === "string" ? inputOptions.defaultValue : "") %>" <%= (inputOptions.required ? "required" : "") %>>
</label>