<template id="render-wrapper-template">
    <div class="render-wrapper">
        <div class="render-replace">Replace this div with rendered input elements</div>
        <div class="edit-controls-wrapper pseudo-label dimensionless">
            <div class="edit-controls">
                <button class="close-editor-button" type="button" tabindex="-1">✖</button>
            </div>
        </div>
    </div>
</template>