<template id="render-wrapper-template">
    <div class="render-wrapper">
        <div class="render-replace">Replace this div with rendered input elements</div>
        <div class="edit-controls-wrapper pseudo-label dimensionless">
            <div class="edit-controls">
							<button class="close-editor-button" type="button" tabindex="-1">✖</button>
							<label>
								<span>Label</span>
								<input type="text" class="label-editor">
							</label>
							<label>
								<span>Default Value</span>
								<input type="text" class="default-value-editor">
							</label>
							<label>
								<span>Placeholder</span>
								<input type="text" class="placeholder-editor">
							</label>
							<label>
								<span>Required</span>
								<input type="checkbox" class="required-editor">
							</label>
            </div>
        </div>
    </div>
</template>