# Intellij files
.idea/
# npm install files
node_modules/

# vim files
*.swp
*.swo

#JSDoc
docs/

#uploaded files
uploads/*
createdJSON/*.json

#dev files
output.txt

# Private Stuff needed to run script
private/
SpreadsheetPlaygroundCredentials.json
SpreadsheetID.json
