<!DOCTYPE html>
	<head>
		<title>
			Custom Spreadsheet Form
		</title>
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
	</head>
	<body>
		<main>
			<form action="/" method="POST">
				<input type="text" name="first" autocomplete=""off" placeholder="First Name"></input>
				<input type="text" name="last" autocomplete=""off" placeholder="Last Name"></input>
				<input type="text" name="buildHours" autocomplete=""off" placeholder="Build Hours"></input>
				<input type="text" name="hours" autocomplete=""off" placeholder="Hours"></inputHours>
				<input type="text" name="probation" autocomplete=""off" placeholder="On Probation"></inputHours>
				<input type="submit" name="mainSubmit" value="Submit and Test"/>
			</form>
		</main>
	</body>
</html>
