<!DOCTYPE html>
	<head>
		<title>
			Custom Spreadsheet Form
		</title>
		<link rel="stylesheet" type="text/css" href="/static/css/styles.css">
	</head>
	<body>
		<section id="getId">
			<form enctype="application/json" action="/" method="POST" name="idGetter">
				<input type="text" name="sheetId"></input>
				<input type="submit" name="submit"></input>
			</form>
		</section>
		<main>
			<form enctype="application/json" action="/" method="POST" name="mainForm">
				<!--
				<input type="text" name="first" autocomplete="off" placeholder="First Name"></input>
				<input type="text" name="last" autocomplete="off" placeholder="Last Name"></input>
				<input type="text" name="buildHours" autocomplete="off" placeholder="Build Hours"></input>
				<input type="text" name="hours" autocomplete="off" placeholder="Hours"></input>
				<input type="text" name="probation" autocomplete="off" placeholder="On Probation"></input>
				-->
				<input type="submit" name="mainSubmit" value="Submit and Test" hidden/>
			</form>
		</main>
		<script src="static/js/cookieFunctions.js"></script>
		<script src="static/js/formOverride.js"></script>
		<script src="static/js/formSetup.js"></script>
	</body>
</html>
