* {
	transition-duration: 0.5s;
}

body {
	background-color: #D6C0C2;
	background-image: url("../img/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

main {
	padding: 0;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
}