#creation-overlay-container {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 20vh;
	overflow-y: auto;
	background-color: #EEEEEEAA;
}

#creation-overlay {
	width: 100%;
	height: 100%;
	padding: .25rem;
	justify-content: flex-start;
}

#creation-overlay-controls {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 2rem;

}

#creation-overlay-controls > * {
	height: 100%;
	margin: 0;
}