main {
	padding-bottom: 0;
}

#fileTitle {
	cursor: text;
}

.control-pad {
	padding-bottom: 21vh;
}

#creation-overlay-container {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 20vh;
	overflow-y: auto;
	background-color: #EEEEEEAA;
}

#hide-creation-overlay-button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 2rem;
	height: 2rem;
	border-radius: .2rem .2rem 0 0;
	position: fixed;
	background-color: #FAFAFA;
	border: 1px solid #CCC;
	bottom: 20vh;
	right: 0;
	text-align: center;
}

#hide-creation-overlay-button:after {
	content: "▼";
}

#hide-creation-overlay-button.hide-creation-overlay:after {
	content: "▲";
}

.hide-creation-overlay {
	transform: translateY(20vh);
}

#creation-overlay {
	width: 100%;
	height: 100%;
	padding: .25rem;
	justify-content: flex-start;
}

#creation-overlay-controls {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 2rem;
}

#creation-overlay-controls > * {
	height: 100%;
	margin: 0;
}

#template-type {
	width: 100%;
	border-radius: .2rem;
	border: 1px solid #CCC;
	padding: .25rem .75rem;
	margin: 0;
}

#required-checkbox-label {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #FAFAFA;
	border: 1px solid #CCC;
	border-radius: .2rem;
	padding: 0 .5rem;
	margin: 0;
	white-space: nowrap;
}

#required-checkbox-label > span {
	padding-right: .5rem;
}

#required-checkbox-label input[type=checkbox] {
	width: 1rem;
	height: 1rem;
}

.render-wrapper {
	width: 100%;
	position: relative;
	background-color: #EEE;
	border-radius: .25rem;
	margin: .25rem 0;
}

.render-replace {
	display: none;
}

.pseudo-label {
	margin: 0;
}

.edit-controls-wrapper {
	display: block;
	width: 100%;
	background: none;
	padding: 0;
	border: none;
	position: relative;
	overflow: hidden;
}

.edit-mode .edit-controls-wrapper, .edit-controls {
	height: 25vh;
	max-height: 25vh;
}

.edit-mode .edit-controls-wrapper > * {
	opacity: 1;
}

.edit-controls {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	overflow-y: auto;
	padding: 3rem .5rem 1rem;
	margin: 0;
	opacity: 1;
}

.close-editor-button {
	position: absolute;
	top: .5rem;
	right: 1rem;
	min-width: 2rem;
	min-height: 2rem;
	align-self: flex-end;
	border-radius: .2rem;
	border: 1px solid #CCC;
	margin-bottom: .5rem;
}

.close-editor-button:hover {
	cursor: pointer;
	background-color: #BBB;
}

.edit-control-label {
	width: 100%;
	margin-bottom: .1rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	position: relative;
}

.edit-control-label > span {
	background-color: #FAFAFA;
	margin-right: .5rem;
	position: absolute;
	top: -.5rem;
	left: .25rem;
	white-space: nowrap;
}

.edit-control-label-inline {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.edit-control-label-inline > span {
	padding-left: .5rem;
	font-size: 1.25rem;
}

.edit-control-label-inline > input[type="checkbox"] {
	width: 1.5rem;
	height: 1.5rem;
}

.additional-edit-controls {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 90%;
}

.choice-editor-heading {
	font-size: 1.5rem;
	margin: .25rem;
}

.choice-container {
	width: 100%;
}

.add-option-button {
	width: 90%;
	height: 2rem;
	background-color: #FAFAFA;
	margin-top: .25rem;
	border: 1px solid #CCC;
}

.dimensionless {
	height: 0;
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
	border-width: 0;
}