#errorBox {
	z-index: 3;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

main {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	padding: 1rem 2rem;
	text-align: center;
}

form {
	display: flex;
	width: min(100%, 60rem);
	align-content: center;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	vertical-align: middle;
}

.pseudo-label {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: #FAFAFA;
	margin: .25rem 0;
	padding: .5rem .5rem 0;
	border-radius: .25rem;
	border: 1px solid #EEE;
}

.inline-label {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	border: 1px solid #BBB;
	border-radius: .25rem;
	margin: .25rem 0;
	padding: .25rem .5rem;
}

.sub-label {
	display: inline-block;
	width: 100%;
	font-size: 1.25rem;
	text-align: left;
	margin: 0;
	padding: 0 .25rem;
}

.file-label {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.file-sub-label {
	text-align: center;
}

.file-label:hover {
	border-color: #0075FF;
}

.file-label {
	width: 100%;
}

/* TODO: Hide when no files present */
.file-preview {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	overflow-x: auto;
	width: 100%;
	padding: .5rem;
}

.file-preview-hide {
	height: 0;
	padding: 0;
}

.file-preview-item {
	min-width: 30vmin;
	max-width: 30vmin;
	max-height: 30vmin;
	overflow-y: auto;
	border: 1px solid #CCC;
	border-radius: .25rem;
	padding: .25rem;
}

.file-preview-image {
	max-width: 30vmin;
	max-height: 20vmin;
	width: 100%;
	object-fit: contain;
}

.file-preview-text {
	padding: 0;
	margin: 0;
}

.color-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.required-span {
	width: fit-content;
	align-self: flex-end;
	padding: 0 0 0 .25rem;
	color: transparent;
	text-align: right;
	font-size: .5rem;
}

.required-span-enabled {
	color: red;
	font-size: .75rem;
}

/* Used together with JS to pad the bottom of the page for the URL bar.
   Works as intended on browsers with URL bars on the bottom of the screen but adds a bit of (acceptable) unnecessary padding to browsers with URL bars on the top (Most of them)
   Check mobileResize.js for the 3 lines of code and form.ejs for the two empty divs with the ids "control" and "pad" */
#control {
	width: 0;
	height: 100vh;
	position: absolute;
	transition: none;
}

#pad {
	width: 100%;
	max-height: 10vmin;
}