body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

form {
	text-align: center;
	font-size: 1.5rem;
	background-color: #FAFAFA;
	padding: 1rem 3rem;
	border-radius: 0.25rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

form h3 {
	margin: 0 0 0.5rem;
}

#buttons-div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

#buttons-div > * {
	width: 45%;
	padding: .25rem 0;
	margin: .25rem 0;
	font-size: 1rem;
	height: 2.5rem;
	border-radius: 0.2rem;
	border: 1px solid #CCC;
}

#create {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #000;
	text-decoration: none;
}

#create:hover {
	cursor: pointer;
	background-color: #BBB;
}