.loadWheel {
    position: fixed;
    z-index: 99;
    top: calc(50vh - 30vmin);
    left: calc(50vw - 30vmin);
    width: 60vmin;
    height: 60vmin;
    animation: load 2s linear infinite;
    border: 16px solid #F3F3F3;
    border-top: 16px solid #3498DB;
    border-radius: 50%;
}

@keyframes load {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}