* {
	font-family: arial, times, sans-serif;
	box-sizing: border-box;
	transition-duration: 0.5s;
}

body {
	margin: 0;
	padding: 0;
	background-color: #D6C0C2;
	background-image: url("/static/img/background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
}