<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("/partials/head", {title: "Not Found | Error 404"}); %>
    </head>
    <body>
        <main class="floatBox">
            <h2>Error 404: Page not found</h2>
            A problem has occurred
        </main>
    </body>
</html>