<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("/partials/head", {title: "Form Builder"}); %>
        <link href="/static/css/form.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <%- include("/partials/loader") %>
        <section class="floatBox" id="errorBox" style="display: none; opacity: 0;">
            <h1 id="errorName">Error</h1>
            <p id="errorDesc">Something has gone wrong! Try again in a moment.</p>
            <button onclick="toggleErrorBox(false)">Ok</button>
        </section>
        <main>
            <form name="mainForm">
                <div class="pseudo-label">
                    <h1 id="fileTitle">Form Creation Tool</h1>
                </div>
                <input type="submit" value="Submit"/>
            </form>
        </main>
        <script src="/static/js/ejs.min.js"></script>
        <script src="/static/js/inputEvents.js"></script>
        <script src="/static/js/creation.js"></script>
    </body>
</html>