<!DOCTYPE html>
<html lang="en">
    <%- include("/partials/head", {title: "Form"}); %>
    <body>
        <section class="floatBox" id="getId">
            <form action="/redirect" enctype="application/x-www-form-urlencoded" method="POST" name="idGetter">
                <h1>Enter the ID</h1>
                <label for="sheetId">
                    Google Sheet ID
                </label>
                <input id="sheetId" name="sheetId" placeholder="Google Sheet ID" type="text" required>
                <label for="defaultVals">
                    Default Values (Optional)
                </label>
                <input id="defaultVals" name="defaultVals" placeholder="OPTIONAL: Default Values" type="text">
                <input name="submit" type="submit">
            </form>
        </section>
        <%- include("/partials/footer"); %>
    </body>
</html>