<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("/partials/head", {title: "Form"}); %>
        <link href="/static/css/index.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <%- include("/partials/loader") %>
        <form action="/redirect" enctype="application/x-www-form-urlencoded" method="POST">
            <h3>Start Form</h3>
            <label for="sheetId">
                Google Sheet ID<span class="required">*</span>
            </label>
            <input name="sheetId" id="sheetId" type="text" required>
            <label for="defaultVals">
                Default Values (Optional)
            </label>
            <input name="defaultVals" id="defaultVals" type="text">
            <input type="submit" onclick="toggleLoader(true)">
        </form>
    </body>
</html>