<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("/partials/head", {title: "Form"}); %>
		<link href="/static/css/index.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="loadWheel infinite-spin" <%- (typeof show !== "undefined" && show ? "" : 'style="visibility: hidden;"') %>></div>
		<form action="/redirect" enctype="application/x-www-form-urlencoded" method="POST">
			<h3>Start Form</h3>
			<label for="sheetId">
				Google Sheet ID<span style="color: red">*</span>
			</label>
			<input id="sheetId" name="sheetId" required type="text">
			<label for="defaultVals">
				Default Values (Optional)
			</label>
			<input id="defaultVals" name="defaultVals" type="text">
			<div id="buttons-div">
				<a id="create" onclick="toggleLoader(true)" href="/create"><span>Create</span></a>
				<input onclick="toggleLoader(true)" type="submit">
			</div>
		</form>
		<script src="/static/js/utilities.js"></script>
	</body>
</html>
