<label class="pseudo-label">
    <span class="sub-label">
        <%= inputOptions.displayName %>
    </span>
    <input data-columnname="<%= inputOptions.name %>" type="date" pattern="\d{4}-\d{2}-\d{2}" placeholder="yyyy-mm-dd" <%- inputOptions.attributes.value %> <%- inputOptions.attributes.required %>>
</label>