<label class="pseudo-label">
    <span class="sub-label">
        <%= inputOptions.displayName %>
    </span>
	<input data-columnname="<%= inputOptions.name %>" pattern="\d{4}-\d{2}-\d{2}" placeholder="yyyy-mm-dd" type="date" <%- inputOptions.attributes.value %> <%- inputOptions.attributes.required %>>
</label>